.container{
	display: grid;
	grid-template-areas: 'header header header'
	'content content sidebar'
	'box-1 box-2 box-3'
	'footer footer footer';
	grid-gap: 1rem;
}
.header{
	grid-area:header;
}
.content{
	grid-area:content;
}
.sidebar{
	grid-area: sidebar;
}
.box1{grid-area:box-1;}
.box2{grid-area: box-2;}
.box3{grid-area:box-3;}

.footer{grid-area:footer;}

.header,.content,.sidebar,.footer,.box-1,.box-2,.box-3,.box-4{
	border: 1px solid;
}

